<template name="secondtemp">
    <div>
        <p>
            This Is Second Template, it has form, don't know what for
            
            
            
        </p>
        <form>
            <strong>Name:</strong><br/>
            <input name="name" type="text" required/>
            <br/>
            <strong>Password:</strong><br/>
            <input type="password" name="password" required />
            <br/>
            <strong>Email:</strong><br/>
            <input type="email" name="email" required />
            
            
        </form>
        
        
    </div>
    
    
    
    
</template>